/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

body {
    background-image: url('chadwick-boseman-as-black-panther-tribute-black-background-2560x2560-9122.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: 4vw;
    background-position-y: 0vh;
    overflow-y: none;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw 0px 10vw;
    border-bottom: 1px solid black;
    
    
}

ul, li{
    display: flex;
    padding-left: 3vw;
    /* text-decoration: none; */
}

ul li {
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: #d8c59c;
}

img{
    width: 4vw;

}

.content {
    display: flex;
   
    justify-content: space-around;
    align-items: end;
    color: white;
    
    /* background-color: rgba(36, 108, 171, 0.315); */
    height: 60vh;
    ;
}


.content h1 {
    font-size: 4rem;
    background: linear-gradient(to right, #ffffff, #363636,#a19479, #a19479);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* margin-bottom: -10vh; */
}


h1, p{
    padding-right: 10vw;
    
}

h1 {
    margin-left: 20vw;
}

.content p {
    width: 50vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    color: rgba(117, 117, 117, 0.178);
}

.content p:hover {
    color: rgb(161, 161, 161);
    transition: 1s;
   
}

.footer {
    height: 40vh;

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 0px 50vw 0px 5vw;
    color: white;
    /* border-top: 1px solid white; */
    position: fixed;

    background-image: linear-gradient(180deg, black, #a1947987);
}

.left .right {
    height: 30vh;
    width: 100%;
    background-color: rgb(206, 93, 0);
    padding: 20px;
   
   
}

.left {
    margin-left: 5vw;
}

.right ul{
    display: flex;
    /* flex-direction: column; */
    
    
}

.right a{
    padding: 10px;
}

.right {
    margin-left: 44vw;
}

