

body {
    background-image: url('black-panther-marvel-superheroes-black-background-amoled-5k-3440x1440-8385.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: 30vw;
    background-position-y: 20vh;
    overflow-y: none;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw 0px 10vw;
    border-bottom: 1px solid black;
    
    
}

ul, li{
    display: flex;
    padding-left: 3vw;
    /* text-decoration: none; */
}

ul li {
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: white;
}

img{
    width: 4vw;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    
    /* background-color: rgba(36, 108, 171, 0.315); */
    height: 60vh;
}


.content h1 {
    font-size: 7rem;
    background: linear-gradient(to right, #ffffff, #363636,#2d033c, #120819);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


h1, p{
    padding-left: 10vw;
    
}

.content p {
    width: 50vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.178);
}

.content p:hover {
    color: rgb(161, 161, 161);
    transition: 1s;
    box-shadow: 10px 100px 10px rgba(58, 5, 86, 0.475);
}

.footer {
    height: 40vh;

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 0px 50vw 0px 5vw;
    color: white;
    /* border-top: 1px solid white; */
    position: fixed;
}

.left .right {
    height: 30vh;
    width: 100%;
    background-color: rgb(206, 93, 0);
    padding: 20px;
   
   
}

.left {
    margin-left: 5vw;
}

.right ul{
    display: flex;
    /* flex-direction: column; */
    
    
}

.right a{
    padding: 10px;
}

.right {
    margin-left: 44vw;
}

