* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('background_picture.avif');
    background-size:100vw ;
    background-repeat: no-repeat;
    background-position-y: -30vh;

}

#container_two {
    margin-top: 70%;
}

.height {
    height: 90vh;
}

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .flex {
    display: flex;
    width: 100vw;
} */