* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-image: url('/background_image.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .robotCard img {
    width: 100%;
    height: auto;
} */