* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 10vh;
    width: 100vw;

    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

.navbar div {
    margin: 0px 40px 0px 40px;
}

.sign_up button {
    padding: 10px;

    background-color: rgba(157, 0, 0, 0.719);
    color: white;

    border: none;
}

/* CONTAINER */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background_picture.avif');
    background-size: 100%;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credentials {
    width: 40vw;
    padding: 10px;
    
}

.credentials input {
    width: 80%;
    padding: 10px;

    border: none;
}

.credentials button {
    padding: 10px;

    border: none;
    color: white;
    background-color: rgba(157, 0, 0, 0.719);
}

/* CONTAINER TWO */

.container_two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    padding-bottom: 20vh;
   
}

.col {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 20px;
    /* background-color: rgba(44, 44, 116, 0.626); */

    margin-top: 20vh;
}

.col div {
    padding: 10px;
    text-align: center;
}

.icon {
    font-size: 5em;
    color: rgba(0, 0, 0, 0.527);
}

.content {
    text-align: center;
}