* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.background {
    background-image: url('/images/Background_Picture.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-position-x: center;
}

.navbar {
    height: 15vh;
    width: 100vw;
    /* background-color: rgba(0, 255, 255, 0.288); */

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    position: fixed;
}

.navlogo img {
    width: 2vw;
    height: 2.5vh;
}

.navlogo a {
    text-decoration: none;
    color: #e7415f84;
}


.links a {
    text-decoration: none;
    color: #89b592;
    padding-left: 20px;
    
    font-size: 1.3em;
}

.links a:hover {
    /* transform: scale(9.9); */
    color: white;
    /* transform: scale(2,9); */
    transition-duration: 0.3s;
    font-size: 1.9em;
}

/* CONTAINER */
/* Body Intro */

.container {
    /* container properties */
    display: flex;
    justify-content: space-around;

    /* container background */
    /* background-color: rgba(63, 29, 29, 0.283); */
}


.container .col {
    /* background-color: rgba(0, 0, 0, 0.477); */
    height: 100vh;
    width: 45vw;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 20vw;
    height: 50vh;
}

.container .left {
    padding-left: 10vw;
}

.container .right {
    flex-direction: column;
    /* justify-content: space-around; */
}

.container .heading {
    font-size: 1.5em;
    color: white;
    /* border-bottom: 1px solid white ; */
    padding-bottom: 20px;
}

/* .container .heading:hover {
    font-size: 1.5em;
    color: white;
    transform:scale(1,1);
    transition-duration: 0.3s;
      
    padding-bottom: 20px;
} */

span {
    color: white;
}

c {
    font-size: 2em;
}

/* CONTAINER_TWO */

/* body main */

.containerTwo {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.457);
}

.containerTwo .left {
    height: 30vh;
    width: 30vw;
    /* background-color: rgba(127, 255, 212, 0.429); */
    align-items: center;

    border-right: 1px solid #89b592;
  
}



.containerTwo .right {
    height: 30vh;
    width: 65vw;
    /* background-color: rgba(207, 136, 48, 0.297); */
    align-items: center;
    color: white;
}



.containerTwo div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.containerTwo h1 {
    font-size: 3em;
    color: white;
}

/* FOOTER */

.footer {
    height: 100vh;
    width: 100vw;

    background-color: rgba(240, 248, 255, 0.421);
}

.bottom {
    height: 5vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.223);

    display: flex;
    
}

.bottom div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bottom .left {
    background-color: #89b592;
}

.bottom .right {
    background-color: #eab7c0;
   
}

.bottom a {
    text-decoration: none;
    color: white;
}