/* Font imports */
/* Abril Fatface for HEADING */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* Avro static for sub headings */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
  
}

.background {
    background-image: url('/images/Background_Picture.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-position-x: center;
}

.navbar {
    height: 15vh;
    width: 100vw;
    

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    position: fixed;
}

.navlogo img {
    width: 2vw;
    height: 2.5vh;
}

.navlogo a {
    text-decoration: none;
    color: #e7415f84;
}

audio {
    /* background-color: #4c6b53; */
    position: relative;
    left: 9vw;
    width: 9vw;
}

.links a {
    text-decoration: none;
    color: #89b592;
    padding-left: 20px;
    font-size: 1.3em;
}

.links a:hover {
    color: #4c6b53;
    transition: 0.3s;
    font-size: 1.9em;
}

/* CONTAINER */
/* Body Intro */

.container {
    /* container properties */

    display: flex;
    justify-content: space-around;
}


.container .col {
    height: 100vh;
    width: 45vw;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 20vw;
    height: 50vh;
}

.container .left {
    padding-left: 10vw;
}

.container .right {
    flex-direction: column;  
}

.container .heading {
    font-size: 1.5em;
    color: white;
    line-height: 350%;
    padding-bottom: 20px;
    
}


span {
    color: white;
}

@keyframes slideIn{
    from {
     margin-left: 30%;
     width: 300%;
   }
 
   to {
     margin-left: 0%;
     width: 100%;
     font-size: 2em;
   }
 }

 .slideIn{
    animation: slideIn 0.5s;
  }

.heading i {
    font-size: 2.5em;
}

/* @keyframes slideInLeft {
    from {
        margin-right: -100%;
        width: -300%;
    }

    to {
        margin-right:0%;
        width: -100%;
    }
}

.slideInLeft {
    animation: slideInLeft 2s;
} */

/* CONTAINER_TWO */

/* body main */

.containerTwo {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.457);
}

.containerTwo .left {
    height: 30vh;
    width: 30vw;
    align-items: center;
}



.containerTwo .right {
    height: 30vh;
    width: 65vw;
    align-items: center;
    color: white;

    display: flex;
    flex-direction: column;   
}

.right a {
    text-decoration: none;
    color: white;
    /* position: relative; */
    /* right: 28.5vw; */
}

.right a:hover {
    color: #344b39;
}


.containerTwo div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.containerTwo h1 {
    font-size: 3em;
    color: white;
}

.containerTwo p {
    line-height: 200%;
}

/* Container Three */

.containerThree {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f8f3ed;
}

.mediaCard {
    width: 45vw;
    height: 55vh;
    /* background-color: #4c6b53; */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.two img {
    width: 40%;
}

.one iframe {
    width: 70%;
    height: 100%;
    
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.483);
}

.three iframe {
    width: 70%;
    height: 100%;
    
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.483);
}

.five iframe {
    width: 70%;
    height: 100%;
    
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.483);
}




.mediaCard p {
    padding: 5vh;
    line-height: 150%;
}

.six img {
    width: 100%;
}


/* FOOTER */

footer {
    height: 190vh;
    width: 100vw;
    background-color: #f8f3ed;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: flex-end;
}

.footer .left {
    height: 80vh;
    width: 100vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    border-top: 1px solid #89b592;
    padding-left: 5vw;
    padding-bottom: 5vh;
    margin-bottom: 9vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer .right {
    height: 80vh;
    width: 100vh;
    /* background-color: rgb(181, 32, 32); */
    /* display: flex;
    justify-content: center; */
    margin-bottom: 9vh; 
    padding: 4vh 2vw 0vh 2vw;
}

.right img {
    width: 30%;
    height: auto;
    position: relative;
    right: -50%;
    top: 50%;
}

.ticket {
    
    width: 100%;
    height: 4vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket a {
    background-color: #eab7c0;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.ticket a:hover {
    color: #4c6b53;
}

.ticket p {
    position: absolute;
    right: 62%;
}

.bottom {
    height: 5vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.223);
    display: flex; 
    position: fixed;
    bottom: 0vh;

}

.bottom div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bottom .left {
    
    background-image:linear-gradient(to right,#89b592,#7ca884,#f8f3ed) ;
}

.bottom .right {
    background-image:linear-gradient(to right,#f8f3ed, #bb7470,#eab7c0) ;
    width: 50vw;
   
}

.bottom a {
    text-decoration: none;
    color: white;
}

.ticket h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ################################################################################################################################################################## */

/* MEDIA QUERIES */

/* Mobile deviced */
@media screen and (min-width: 320px) and (max-width: 480px) {
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .background {
        background-size: 180%;
        background-position:top;
    }

    /* NAVBAR */

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .links a {
        padding: 10px;
    }

    .audio {
        display: none;
        
    }

    /* CONTAINER */

    .container {
        display: flex;
        flex-direction: column;
    }

    .container .col {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container img {
        position: relative;
        /* left: 10vw; */
        bottom: 10vh;
        width: 80vw;
        height: 80vh;
    }

    .container .right {
        display: none;
    }

    .containerTwo {
        display: flex;
        flex-direction: column;

        position: relative;
        bottom: 33.5vh;
    }

    .containerTwo .left {
        width: 100vw;
    }

    .containerTwo .right {
        width: 100vw;
    }

}










/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}
