* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar {
    height: 5vh;
    width: 100vw;
    background-color: aqua;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.container {
    /* container properties */
    display: flex;
    justify-content: space-around;

    /* container background */
    background-color: rgba(165, 42, 42, 0.283);
}


div .col {
    background-color: rgba(0, 0, 0, 0.477);
    height: 70vh;
    width: 45vw;
}