*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10%;
}

.gif-item {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.gif-item img {
    max-width: 200px;
    border: 1px solid #ccc;
}

#display {
    display: flex;
    flex-wrap: wrap;
}

