* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.robotCard {
    background-color: rgb(173, 240, 73);
    background-image: url('/card-pattern.png');
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#robotContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-image: url('/background_image.png') ;
    background-repeat: repeat;

    background-size: 30vw;
    background-color: rgb(25, 97, 78);
}

.robotCard img {
    width: 100%;
    height: auto;
    background-color: grey;
    border-radius: 999px;
}