* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Exercise 1 */

/* p {
    background: yellow;
    color: red;
  } */

  /* Exercise 2 */

  /* #container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    
    background-color: red;
  } */

  /* Exercise 3 */
  #target {
    width: 200px;
    height: 200px;
    position: relative;
    background: yellow;
  }
  #box {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
  }
