* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.box {
    height: 70px;
    width: 70px;

    margin: 3px;
}

.orange {
    background-color: rgb(255, 102, 0);
}

.peach {
    background-color: rgb(247, 175, 112);
}

.brown {
    background-color: brown;
}

.row {
    display: flex;    
}
