*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 10vh;
    width: 100vw;

    background-color: rgb(1, 57, 72);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.form {
    display: grid;
}