* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
 background-image: url('pexels-john-guccione-www-advergroup-com-1874301-3483098.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
 
 height: 100vh;
 width: 100vw;
}


.display {


    background-color: rgba(128, 128, 128, 0.881);
    border: 10px solid rgba(1, 50, 1, 0.507);
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#amountResult {
    /* background-color: grey;
     */
     border: 1px solid black;
     border-radius: 5px;
    height: 20px;
    width: 30vw;

    display:flex;
    justify-content: center;
    align-items: center;

}